* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background: #E9E9E9;
}

.contenedor-principal {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

header {
	background: #113E65;
	width: 100%;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
}

.logo a{
	margin-left: 10px;
	font-size: 20px;
	color: #fff;
	line-height: 35px;
}

.logo img{
	width: 50px;
	vertical-align: top;
}

header nav {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

header nav a {
	color: #fff;
	padding: 10px;
	text-align: center;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

i {
	margin-right: 8px;
}

header nav a:hover {
	background: #E74C3C;
}

.formulario-login {
	width: 70%;
	padding: 90px;
	background: #fff;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

form {
	width: 70%;
	max-width: 500px;
	padding: 30px;
	background: #A09D9A;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.formulario-login h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #000;
	letter-spacing: 5px;
	font-size: 36px;
}

input {
	display: block;
	padding: 10px;
	width: 100%;
	margin: 40px 0;
	font-size: 20px;
}

input[type="submit"]{
	background: #D35D08;
	border: 0;
	letter-spacing: 7px;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 0px;
}

input[type="submit"]:hover{
	background: #EF6909;
}

input[type="submit"]:active{
	transform: scale(0.95);
}

form a{
	margin: 0px 30px;
	padding: 10px;
	color: #000
}

form a:hover {
	background: #209D4A;

}

footer {
	width: 100%;
	background: #113E65;
	padding: 20px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

footer .redes-sociales{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

footer .redes-sociales nav a {
	color: #fff;
	padding: 15px;
}

footer .redes-sociales nav a:hover{
	background: #E74C3C;
}

footer .derechos-reservados {
	width: 100%;
	font-weight: 600;
	padding: 5px;
	text-align: center;
}