* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #E9E9E9;
    width: 100%;
}

.contenedor-principal {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header {
    background: #113E65;
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
}

.logo a{
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
    line-height: 35px;
}

.logo img{
    width: 50px;
    vertical-align: top;
}

header nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav a {
    color: #fff;
    padding: 10px;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

i {
    margin-right: 8px;
}

header nav a:hover {
    background: #E74C3C;
}

.formulario-registro {
    width: 100%;
    padding: 90px;
    background: #fff;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.formulario-registro h2 {
    text-align: center;	
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 36px;
}

form {
    width: 70%;
    max-width: 500px;
    padding: 30px;
    background: #091E30;
    border-radius: 5px;
}

.contenedor-inputs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

input {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    display: block;
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    font-size: 15px;
    border: 2px solid darkgrey;
    border-radius: 5px;
}

.input-48{
    width: 100%;
}

.input-100{
    width: 100%;
}

::-webkit-input-placeholder{
    color: #fff;
}

:-ms-input-placeholder{
    color: #fff;
}

::placeholder{
    color: #fff;
}

input[type="submit"]{
    background: #D35D08;
    border: 0;
    letter-spacing: 7px;
    cursor: pointer;
    margin-bottom: 0px;
}

input[type="submit"]:hover{
    background: #EF6909;
}

input[type="submit"]:active{
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

footer {
    width: 100%;
    background: #113E65;
    padding: 20px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .redes-sociales{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .redes-sociales-movil {
    display: none;
}

footer .redes-sociales nav a {
    color: #fff;
    padding: 15px;
}

footer .redes-sociales nav a:hover{
    background: #E74C3C;
}

footer .derechos-reservados {
    width: 100%;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

@media (min-width: 663px) and (max-width: 1023px) {
    header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    header nav {
        width: 100%;
    }

    .logo {
        margin-bottom: 10px;
    }

    .formulario-registro {
        margin-top: 50px;
        margin-bottom: -30px;
        width: 100%;
    }

    form {
        width: 95%;
    }

}

@media (min-width: 1024px) and (max-width: 1364px) {
    header nav {
        width: 60%;        
    }

    form {
        width: 90%;
    }

}

@media (min-width: 412px) and (max-width: 662px) {
    header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    header nav {
        width: 100%;        
    }

    .logo {
        margin-bottom: 10px;
    }

    .formulario-registro {
        padding: 150px 0px;
        padding-bottom: 0px;
        width: 80%;
    }

    form {
        width: 100%;
    }

    .contenedor-inputs {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .input-48 {
        width: 48%;
    }

    footer .redes-sociales-movil {
        display: inline-block;
    }

    footer nav .redes-sociales-movil a {
        padding: 5px;
        font-size: 25px;
    }

    footer .redes-sociales-escritorio {
        display: none;
    }

    footer .derechos-reservados {
        margin-top: 5px;
        font-size: 15px;
    }
}

@media (max-width: 411px) {
    header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    header nav {
        width: 100%;        
    }

    .logo {
        margin-bottom: 10px;
    }

    .formulario-registro {
        padding: 150px 0px;
        padding-bottom: 0px;
        width: 90%;
    }

    .formulario-registro h2 {
        font-size: 30px;        
    }

    form {
        width: 100%;
    }

    .contenedor-inputs {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .input-48 {
        width: 48%;
    }

    footer .redes-sociales-movil {
        display: inline-block;
    }

    footer nav .redes-sociales-movil a {
        padding: 5px;
        font-size: 25px;
    }

    footer .redes-sociales-escritorio {
        display: none;
    }

    footer .derechos-reservados {
        margin-top: 5px;
        font-size: 11px;
    }

    footer .logo img {
        margin-top: 8px;
        width: 30px;
        vertical-align: top;
    }

    footer .logo a {
        margin-left: 5px;
        color: #fff;
        font-size: 10px;
        line-height: 35px;
    }
}

input.error{
    border: 1px solid red;
}

.error{
    color: red;
    font-style: italic;
}
/*.error:before{
    content: '';
    border-top: 0px solid transparent;
    border-bottom: 15px solid #BC1010;
    border-right: 11px solid transparent;
    border-left: 12px solid transparent;
    left: 69px;
    position: absolute;
    top: -16px;
}*/