* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
}

header section h3 {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

header nav {
	width: 100%;
	position: fixed;
	background: #113E65;	
}

header nav ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

header nav ul li {
	list-style: none;
	padding: 10px 10px 10px 10px;
}

header nav ul li:hover {
	list-style: none;
	background: #2066A4;
	padding: 10px;
}

header nav ul li a {
	text-decoration: none;
	color: #fff;
}

header nav ul i {
	margin-right: 8px;
}

div article {
	width: 300px;
}

div article img {
	width: 250px;
	height: auto;
	margin: auto;
	display: block;
	-webkit-box-shadow: 5px 5px 0px #ccc;
	box-shadow: 5px 5px 0px #ccc;
}

div article p{
	text-align: justify;
}