* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #E9E9E9;
    width: 100%;
}

.contenedor-principal {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header {
    background: #113E65;
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
}

.logo a{
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
    line-height: 35px;
}

.logo img{
    width: 50px;
    vertical-align: top;
}

header nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav a {
    color: #fff;
    padding: 10px;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.boton-menu {
    display: none;
    margin-right: 10px;
}

.boton-menu i {
    font-size: 30px;
    color: #fff;
}


i {
    margin-right: 8px;
}

header nav a:hover {
    background: #E74C3C;
}

.carrito-compras {
    width: 77%;
    padding: 90px 70px;
    background: #fff;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
}

.encabezado-carrito {
    width: 100%;
    border-radius: 5px;
    background: #113E65;
}

.encabezado-carrito h2 {
    text-align: center;
    padding: 20px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 18px;
}

.cuerpo-carrito {
    padding: 15px 30px;
}

table {
    border-collapse: collapse;
}

.encabezado-cuerpo-carrito th{

    background: #ccc;
    padding: 15px 25px;
    font-size: 15px;    
}

.producto-agregado {
    border-bottom: 1px solid #ccc;
}

.img-producto {
    padding: 20px;
}

.img-producto img {
    width: 120px;
}

.txt-producto {
    padding: 20px;
}

.cantidad-producto {
    padding: 20px;
}

input[type="number"]{
    text-align: center;
    margin-left: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 70px;
}

.precio-producto {
    padding: 20px;
}

.total-producto { 
    padding: 10px 20px;
}

.btn-remover {
    padding-top: 20px    
}

.total-producto h4 {
    margin-top: 50px;
}

.total-producto input[type="button"]{
    font-weight: 600;
    background: #113E65;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
}

.total-producto input[type="button"]:hover{
    background: #315998;
    cursor: pointer;
}

.total-carrito {
    width: 100%;
    text-align: right;
    margin-top: 20px;    
}

.total-carrito h2 {
    padding: 15px;
    background: #D35D08;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 5px;
}

.btn-footer-carrito {
    margin-top: 30px;    
}

.btn-footer-carrito a {
    background: #209D4A;
    padding: 20px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 5px;
    margin: 10px;
    color: #fff;
}

.btn-footer-carrito a:hover{
    background: #27BD59;
}

footer {
    width: 100%;
    background: #113E65;
    padding: 20px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .redes-sociales{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .redes-sociales nav a {
    color: #fff;
    padding: 15px;
}

footer .redes-sociales nav a:hover{
    background: #E74C3C;
}

footer .derechos-reservados {
    width: 100%;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

footer {
    width: 100%;
    background: #113E65;
    padding: 20px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .redes-sociales{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .redes-sociales-movil {
    display: none;
}

footer .redes-sociales nav a {
    color: #fff;
    padding: 15px;
}

footer .redes-sociales nav a:hover{
    background: #E74C3C;
}

footer .derechos-reservados {
    width: 100%;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

@media (max-width: 1024px) {
    header nav {
        width: 60%;
    }

    .carrito-compras {
        width: 85%
    }
}

@media (max-width: 800px) {
    header nav {
        background: #285174;
        width: 80%;
        height: 30%;
        position: fixed;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 24%;
        left: -100%;
    }

    header nav a {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }

    .boton-menu {
        display: block;
    }

    .carrito-compras {
        width: 100%;
        padding: 90px 25px;
    }

}

@media (max-width: 500px) {
    header nav {
        margin-top: 34%;
    }

    .carrito-compras {
        width: 100%;
        padding: 90px 0px;
    }

    .encabezado-carrito {
        margin-top: -20px;
    }

    .cuerpo-carrito {
        padding: 10px 0px;
        width: 100%;
        overflow-x: auto;
    }

    .img-producto {
        padding: 10px;
    }

    .img-producto img {
        width: 100px;
    }

    .txt-producto {
        padding: 10px;
    }

    .cantidad-producto {
        padding: 10px;
    }

    .precio-producto {
        padding: 10px;
    }

    .total-carrito {
        width: 100%;
        text-align: center;
        margin-top: 10px;    
    }

    .total-carrito h2 {
        font-size: 20px;
        padding: 15px;
        background: #D35D08;
        border-radius: 5px;
        color: #fff;
        letter-spacing: 5px;
    }

    .btn-footer-carrito {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0px; 
        margin-bottom: -70px;
    }

    .btn-footer-carrito a {
        background: #209D4A;
        padding: 20px;
        font-weight: 600;
        border-radius: 5px;
        letter-spacing: 5px;
        margin: 10px;
        color: #fff;
    }


    footer .redes-sociales-escritorio {
        display: none;
    }

    footer .redes-sociales-movil {
        display: block;
    }

    footer .redes-sociales-movil i {
        margin: 0px;        
    }

    footer .derechos-reservados {
        font-size: 14px
    }
}

@media (max-width: 384px) {
	footer .redes-sociales {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 10px;
	}
	
	footer .redes-sociales-movil i {
		margin-bottom: 15px;
		font-size: 40px;
	}
}


@media (max-width: 375px) {
    header nav {
        height: 35%;
        margin-top: 40%;
    }
    
    footer .redes-sociales-movil {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    footer .redes-sociales-movil i {
        font-size: 40px;            
    }

    footer .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    footer .derechos-reservados {
        font-size: 10px
    }
}

