* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #E9E9E9;
    width: 100%
}

.contenedor-principal {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header {
    background: #113E65;
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
}

.logo a{
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
    line-height: 35px;
}

.logo img{
    width: 50px;
    vertical-align: top;
}

header nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav a {
    color: #fff;
    padding: 10px;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.usuario {
    padding: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.usuario img {
    border: 1px solid #ccc;
    width: 20px;
    border-radius: 10px;
}

.usuario:hover {
    background: #E74C3C;
}

i {
    margin-right: 8px;
}

header nav a:hover {
    background: #E74C3C;
}

.boton-menu {
    display: none;
    margin-right: 10px;
}

.boton-menu i {
    font-size: 30px;
    color: #fff;
}

i {
    margin-right: 8px;
}

header nav a:hover {
    background: #E74C3C;
}

.seccion-principal{
    width: 95%;
    padding-top: 60px;
    background: #fff;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}

.seccion-principal h2 {
    margin: 20px;
    letter-spacing: 10px;
}

.mas-vendidos {
    width: 90%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mas-vendidos .producto {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mas-vendidos .producto img {  
    width: 30%;
}

.mas-vendidos .producto p {
    margin: 20px;
    text-align: justify;
}

.mas-vendidos .producto a {
    font-weight: 600;
    width: 100px;
    margin: 10px 15px 0px 0px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-decoration: none;
    background: #113E65;
    text-align: center;
    color: #fff;
    border: 2px solid;
    padding: 5px;
    border-radius: 6px;
}

.mas-vendidos .prdocuto a:active {
    border: 1px inset #000;
}

.mas-vendidos .producto a:hover {
    background: #315998;
}


footer {
    width: 100%;
    background: #113E65;
    padding: 20px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .redes-sociales{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .redes-sociales-movil {
    display: none;
}

footer .redes-sociales nav a {
    color: #fff;
    padding: 15px;
}

footer .redes-sociales nav a:hover{
    background: #E74C3C;
}

footer .derechos-reservados {
    width: 100%;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

@media (max-width: 1024px) {
    header nav {
        width: 60%;
    }

}

@media (max-width: 800px) {
    header nav {
        background: #285174;
        width: 80%;
        height: 15%;
        position: fixed;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 14%;
        left: -100%;
    }

    header nav a {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }

    .usuario {
        align-self: flex-start;
    }

    .boton-menu {
        display: block;
    }
}

@media (max-width: 500px) {
    header nav {
        margin-top: 22%;
        height: 18%
    }

    .seccion-principal {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .seccion-principal h2 {
        text-align: center;
    }
        .banner {
        margin-top: -6px;
    }

    .mas-vendidos {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .mas-vendidos .producto {
        width: 100%;
    }

    .mas-vendidos .producto img {  
        width: 20%;
    }

    .mas-vendidos .producto a {
        margin: 0px 15px 0px 0px;
    }

    footer .redes-sociales-escritorio {
        display: none;
    }

    footer .redes-sociales-movil {
        display: block;
    }

    footer .redes-sociales-movil i {
        margin: 0px;        
    }

    footer .derechos-reservados {
        font-size: 14px
    }
}

@media (max-width: 375px) {
    header nav {
        background: #285174;
        width: 80%;
        margin-top: 35%;
        height: 31%;
    }

    .banner {
        margin-top: -6px;
    }

    .seccion-principal h2 {
        font-size: 20px
    }

    footer .redes-sociales-movil {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    footer .redes-sociales-movil i {
        font-size: 40px;            
    }

    footer .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    footer .derechos-reservados {
        font-size: 10px
    }